<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Issue tracker</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Issue tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/issues">Issues <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <!-- Further contents goes here -->

    <h2 class="display-2 my-3">Details</h2>
    <dl class="row">
        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9"> <!-- <span class="badge"
                                           th:text="${issue.status}"
                                           th:classappend="${'badge-' + (issue.status.name() == 'NEW' ? 'danger' : (issue.status.name() == 'DOING' ? 'warning' : 'success')) }"
                                           >NEW</span></dd>-->

        <dt class="col-sm-3">Title</dt>
        <dd class="col-sm-9" th:text="${issue.title}">Bad machine</dd>

        <dt class="col-sm-3">Place</dt>
        <dd class="col-sm-9" th:text="${issue.place}">PC-9</dd>

        <dt class="col-sm-3">Date</dt>
        <!--     <dd class="col-sm-9" th:text="${#temporals.format(issue.created_at, 'dd-MM-yyyy')}">2019.01.01.</dd>-->

        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9" th:text="${issue.description}">Some description</dd>

        <dt class="col-sm-3">User</dt>
        <dd class="col-sm-9">gyozke</dd>


    </dl>

    <p>
        <a class="btn btn-primary" href="#" role="button" th:href="@{/issues/{id}/edit(id=${issue.id})}">Edit</a>
        <a class="btn btn-outline-danger" th:href="@{/issues/{id}/delete(id=${issue.id})}" role="button">Delete</a>
    </p>


</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>